.DS_Store
*~
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
learn
learn.chpl
logos
111*
slides.pdf
test
pi
hidden
hello
periodic
locality
*_real
output.dat
test.chpl
*.html
teachingNotes.md
forall
atomic
parallel1
baseSolver
parallel2
chapel20*.csv
